body {
  margin: 0;
}

/* Tools div Style Properties */
#tools {
	display:block;
  font-family: Lexend;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
}

#tool_icon {
  margin-bottom: -20px;
  margin-right: 5px;
}

/* Button Style Properties */
/* From Uiverse.io by KhelVers */ 
.button {
  cursor: pointer;
  font-size: small;
  font-family: inherit;
  font-weight: normal;
  color: #006CAF;
  background-color: #f8f8fd;
  padding: 0.8em 2.2em;
  border-radius: 50em;
  border: 6px solid #1FAEF2;
  box-shadow: 0px 8px #006CAF;
}
.button:active {
  position: relative;
  top: 8px;
  border: 6px solid #006CAF;
  box-shadow: 0px 0px;
}



/* Only Testing Camera */
#CAM_TEST {
  display:block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;

 }

#CONTROLS {
  display:block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;

}

/* Labels CSS */
.label {
  font-family: Lexend;
  font-size: xx-small;
  color: #006CAF;
  background-color: #f8f8fd;
  padding: 0.4em 0.8em;
  border-radius: 50em;
  border: 3px solid #1FAEF2;
  box-shadow: 0px 0px;
  opacity: 75%;
}